body {
	margin: 0;
	padding: 0;
	height: 100vh;
	background: #444444;
	font-family: 'Roboto', sans-serif;
}
#particles-js{
	height: 100%;
}
.back-board {
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	width: 27%;
	background: #ff4c4c;
	padding-top: 48%;
	box-shadow: 0 0px 24px rgba(0,0,0,0.22),
				0 0px 46px rgba(0,0,0,0.1);
}
.container {
	position: absolute;
	top: 15%;
	left: 15%;
}
#card img {
	width: 360px;
	/*box-shadow: 0 0 30px rgba(0,0,0, 0.3);*/
	box-shadow: 0 0px 24px rgba(0,0,0,0.22),
				0 0px 76px rgba(0,0,0,0.3);
}
#content {
	margin: 0;
	padding: 20px 0px;
	position: relative;
	left: -10%;
	margin-top: 80px;
	letter-spacing: -0.5px;
}
#content p {
	font-size: 24px;
	font-weight: 400;
    margin-bottom: 5px;
    color: rgba(255,255,255,0.6);
}
#content h1 {
	font-size: 50px;
	font-weight: 700;
	color: #ffffff;
	letter-spacing: 1px;
    line-height: 1.3;
}
#content h3 {
	font-size: 28px;
	font-weight: 500;
	color: #ffffff;
	line-height: 0.6;
}
#buttons {
	margin-top: 30px;
	text-transform: uppercase;
}
#btn-2 {
	width: 140px;
	padding: 10px;
	margin-left: 15px;
	color: #ff4c4c;
	border: 2px solid #f8f9fa;
	border-radius: 25px;
	font-size: 16px;
}
#btn-2:hover {
	border: 2px solid #ff4c4c;
	transition: 0.5s;
	background: #f8f9fa;
	box-shadow: 0 15px 24px rgba(0,0,0,0.1),
				0 19px 76px rgba(0,0,0,0.1);
}
#btn-1 {
	width: 210px;
	color: #f8f9fa;
	padding: 10px;
	border-radius: 25px;
	background: #ff4c4c;
	border: 2px solid #ff4c4c;
	font-size: 16px;
}
#btn-1:hover {
	transition: 0.5s;
	border: 2px solid #f8f9fa;
	box-shadow: 0 15px 24px rgba(0,0,0,0.1),
				0 19px 76px rgba(0,0,0,0.1);
}
footer {
	float: right;
	margin-top: 20px;
}
.icons a {
	font-size: 25px;
	letter-spacing: 20px;
	cursor: pointer;
	color: #ababab;
}
.icons .fa-instagram:hover {
	background: rgb(255,219,35);
    background: linear-gradient(360deg, rgba(255,219,35,1) 0%, rgba(249,18,15,1) 50%, rgba(27,73,247,1) 100%);
	-webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.icons .fa-github:hover {
	color: #000000;
}
.icons .fa-facebook-f:hover {
	color: #5b5998;
}
.icons .fa-google-plus-g:hover {
	color: #dd4b39;
}




/* MEDIA QUERIES */



/* -------- width below 992px for small desktops ---------- */

@media screen and (max-width: 992px) {
	body {
		margin: 0;
		padding: 0;
	}
	.container {
		position: absolute;
		top: 5%;
		left: 5%;
		width: 80%;
		padding: 0;
		margin: 0 auto;
	}
	#content {
		margin: 80px 0;
		position: relative;
		left: 10%;
	}
	#content h1 {
		font-size: 40px;
	}
	footer {
		float: right;
		margin-top: 20px;
	}
	#card img {
		width: 380px;
		margin: 0 5%;
		align-items: center;
	}
	#btn-1 {
		width: inherit;
	}
	#btn-2 {
		width: inherit;
	}
}
@media screen and (max-width: 826px) {
	.back-board {
		position: absolute;
		top: 0;
		right: 0;
		left: 0;
		width: 100%;
		height: 0;
		padding-top: 45%;
	}
}

/* -------- width below 768px for tablets ---------- */

@media screen and (max-width: 768px) {
	.back-board {
		position: absolute;
		top: 0;
		right: 0;
		left: 0;
		width: 100%;
		height: 0;
		padding-top: 45%;
	}
	.container {
		position: absolute;
		top: 5%;
		left: 10%;
		width: 80%;
		padding: 0;
		margin: 0 auto;
	}
	#content {
		text-align: center;
		margin: 10px;
		margin-top: 30px;
		position: relative;
		left: 0;
	}
	footer {
		float: none;
		margin-top: 20px;
	}
	.icons {
		text-align: center;
	}
	#card img {
		width: 320px;
		margin: 0;
		margin-left: 15%;
		align-items: center;
		box-shadow: 0 15px 24px rgba(0,0,0,0.22),
					0 19px 76px rgba(0,0,0,0.3);
	}
}


/* -------- width below 576px for large mobiles ---------- */

@media screen and (max-width: 576px) {
	#content h1 {
		font-size: 36px;
		text-transform: uppercase;
	}
	.icons {
		text-align: center;
	}
	#card img {
		width: 220px;
		margin: 0 20%;
	}
	.col-md:nth-of-type(1) {
		width: 280px;
	}
}


/* -------- width below 416px for mobiles ---------- */

@media screen and (max-width: 420px) {
	#content {
		text-align: center;
		margin: 40px 5%;
		position: relative;
		left: 0;
		padding: 0;
	}
	#content h1 {
		font-size: 26px;
		text-transform: uppercase;
	}
	#content p {
		font-size: 20px;
	}
	#content h3 {
		font-size: 20px;
	}
	footer {
		float: none;
		margin: 40px 0;
	}
	.icons a {
		font-size: 22px;
		letter-spacing: 15px;
	}
	.icons {
		text-align: center;
		margin-left: 10%;
	}
	.col-md:nth-of-type(1) {
    	width: 260px;
    	padding-left: 0;
    	margin-left: 0;
	}
	#card img {
		width: 180px;
		margin: 0;
		margin-left: 37%;
	}
	#btn-2 {
		font-size: 12px;
		margin-left: 5px;
	}
	#btn-1 {
		font-size: 12px;
	}
}

@media screen and (max-width: 400px) {
	#card img {
		margin-left: 34%;
	}
}
@media screen and (max-width: 380px) {
	#card img {
		margin-left: 32%;
	}
}


/* -------- width below 360px for small tablets ---------- */

@media screen and (max-width: 360px) {
	.back-board {
		position: absolute;
		top: 0;
		right: 0;
		left: 0;
		width: 100%;
		height: 0;
		padding-top: 50%;
	}
	#card img {
		width: 160px;
		margin: 0;
		margin-left: 30%;
	}
	#content h1 {
		font-size: 24px;
		text-transform: uppercase;
	}
	#content p {
		font-size: 20px;
	}
	#content h3 {
		font-size: 18px;
	}
	.icons a {
		font-size: 24px;
		letter-spacing: 15px;
	}
	.icons {
		text-align: center;
		margin-left: 10%;
	}
	#btn-2 {
		font-size: 12px;
	}
	#btn-1 {
		font-size: 12px;
	}
}

@media screen and (max-width: 340px) {
	#card img {
		margin-left: 28%;
	}
}
@media screen and (max-width: 320px) {
	#card img {
		margin-left: 26%;
	}
}
